<mat-toolbar color="primary" layout="row" layout-align="space-around center">
  <button mat-button>
    <span class="fa fa-bars"></span>
  </button>
  <a>{{title}} - Telugu Movie Names</a>
</mat-toolbar>
<div class="panel" style="height: 100%">
  <div class="panel-body">
    <app-charade-info [charadeInfo]="selectedCharade"></app-charade-info>
    <div style="text-align:center;">
      <button mat-raised-button class="button-primary" (click)="reloadPage()"><span style="color: white">Next Charade!</span></button>
    </div>
  </div>
</div>
